body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

.title {
    text-align: center;
    margin: 25px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

/* PRODUCT PAGE */
.product-box {
    padding: 20px;
}

.big-img {
    width: 100%;
    border-radius: 12px;
}

/* thumbnail */
.small-imgs {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.small-imgs img {
    width: 22%;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
}

.small-imgs img:hover {
    border-color: #000;
}

.price-tag {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.order-btn {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    background: green;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}